{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>つなぐ|新規登録</title>
</head>

<body>

  {% if form.errors %}
  <div class="error-message" id="error-message">
      {% for field, error in form.errors.items %}
          {{ error }}
      {% endfor %}
  </div>
  <script>
      setTimeout(function() {
          document.getElementById('error-message').style.display = 'none';
      }, 3000);  // Adjust the duration (in milliseconds) as needed
  </script>
{% endif %}
  <div id="wrapper">
    <div class="container">
      <div class="phone-app-demo"></div>
      <div class="form-data">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="logo">
            <h1 style="font-size: 30px; color:red;">新規登録</h1><br><br>
          </div>

          ユーザ名{{form.username}}
          メールアドレス{{form.email}}
          パスワード{{form.password1}}
         確認パスワード{{form.password2}}
          <button class="form-btn" type="submit">登録</button>


          <!-- <a href="index.html" class="form-btn" type="submit">Log in</a> -->

        </form>
<!-- 
        <div class="sign-up">
           アカウントがある場合 <a href="{% url 'sign-in' %}">ログイン</a>
        </div> -->

      </div>
    </div>


  </div>
  <footer>
    <div class="container">

      <div class="copyright-notice">
        <p style="font-size: 30px; color:red;">&copy TSUNAGU</p> 
       </div>
    </div>
  </footer>
</body>

</html>